#empresa1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightblue;
}

#empresa2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#empresa3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#empresa4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#empresa4 i{
    color: darkorchid;
}

#empresa5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#empresa5 i{
    color: green;
}

#empresa6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
}

#empresa7{
    font-family: 'Arial Narrow';
}

#empresa9{
    font-family: "Loved by the King", cursive;
    color: red;
}

#empresa10{
    font-family: "Play", sans-serif;
    color: darkcyan;
}

#empresa11{
    font-family: "Londrina Sketch", sans-serif;
    font-size: 35px;
    color: coral;
}

#empresa12{
    font-family: "Dancing Script", cursive;
}

#empresa13{
    font-family: "Hepta Slab", serif;
    color: blue;
}

#empresa14{
    font-family: "Noto Sans JP", sans-serif;
    color: brown;
}